:root {
  --color-background: #dfdddd; /* Gris clair pour les séparateurs et arrière-plans */
  --color-button: #C50000; /* Rouge vif utilisé pour les boutons et en-têtes */
  --color-white: #FFFFFF; /* Blanc pour l'arrière-plan */
  --color-Text: #343232; /* Noir pour le texte et les icônes */
}
body{
  background-color: var(--color-background);
  margin: 0;
  font-family: sans-serif;
}
a{
  text-decoration: none;
}
header{
  display: flex;
  justify-content: space-between;
  border-bottom: none;
}

.cont-logo-img{
 display: flex;
 margin-left: 10px;
}
.img-logo{
  position: relative;
  top: 19px;
  width: 50px;
  height: 40px;
}
.myLogo{
  color: var(--color-Text);
}
.secondLogo{
  color: var(--color-button);
}
.cont-input-filter{
  position: relative;
  top: 18px;
  display: flex;
}
.myinput{
  background-color: var(--color-white);
  width:300px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid;
  border: none;
  padding-left: 30px;
  padding-right: 10px;
}
.cont-filter{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 40px;
  background-color: var(--color-button);
  border-radius: 20px;
  margin-left: 10px;
}
.cont-filter img{
  width: 22px;
  height: 22px;
  filter: brightness(0) invert(1);
}
header ul {
  position: relative;
  top: 10px;
  right: 20px;
  display: flex;
  list-style: none;
}
header ul li{
  color: #343232;
  margin-left: 10px;
}
header ul li:hover{
  color: var(--color-button);
}
.cont-indicator{
  position: absolute;
  bottom: 43px;
  right: 65px;
  font-size: 0.7rem;
  width: 15px;
  height: 15px;
  background-color: #C50000;
  color: #FFFFFF;
  border-radius: 50%;
  text-align: center;
}
/**/
.Cont-Panier{
  margin-top: 5px;
}
.Card-panier{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  width: 300px;
  height: 70px;
  border-radius: 10px;
}
.img-panier{
  position: relative;
  left: 10px;
  width: 50px;
  height: 50px;
}
.cont-nom-panier{
  display: flex;
  flex-direction: column;
}
.span-nom-panier{
  color: var(--color-Text);
  font-size: 0.8rem;
  flex: 1;
  white-space: nowrap;       /* Pas de retour à la ligne */
  overflow: hidden;          /* Cache le contenu qui dépasse */
  text-overflow: ellipsis;
}
.span-prix-panier{
  color: var(--color-Text);
  font-size: 0.8rem;
}
.quantity-panier{
  background-color: var(--color-background);
  width: 40px;
  height: 20px;
  border-radius: 5px;
  border: none;
}
.btn-delete-panier{
  position: relative;
  right: 10px;
  width: 20px;
  cursor: pointer;
}
/*Nav choix*/
.nav-choix{
  position: relative;
  top: 20px;
  display: flex;
  margin-bottom: 5px;
}
.filter-btn{
  background-color: var(--color-white);
  color: var(--color-Text);
 /* width: 100px;*/
  /*       top    left      */
  padding: 10px  40px 10px;
  border-radius: 15px;
  margin-left: 5px;
  text-align: center;
  cursor: pointer;
}
.filter-btn-js{
  background-color: var(--color-button);
  color: var(--color-white);
}
/*Main*/
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Popular{
color: var(--color-Text);

}
.cont-categ-card{
   
}
.cont-card{
  display: grid;
         grid-template-columns: repeat(5, 1fr);
         gap: 15px;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  width: 120px;
  height: 170px;
  border-radius: 10px;
  cursor: pointer;
}
.card:hover{
  background-color: #cabcbc;
}
.cont-img-fav{
  position: relative;
  left: 80px;
  cursor: pointer;
}
.cont-img-fav img{
  width: 20px;
  filter: invert(10%) sepia(100%) saturate(6721%) hue-rotate(16deg) brightness(81%) contrast(119%);
}
.imgCard{
  width: 70px;
  height: 70px;
}
.cont-titre-categ{
  /*position: relative;
  right: 40px;*/
  display: flex;
  flex-direction: column;
}
.stars{
 width: 50px;
}
.cont-prix-btn{
  display: flex;
  margin-top: 20px;
}

.span-titre{
  font-size: 0.7rem;
}
.span-prix{
  /*position: relative;
  right: 35px;*/
  font-size: 0.8rem;
}
.btn-add{
  width: 20px;
  background-color: var(--color-button);
  border-radius: 3px;
  cursor: pointer;
}
.btn-add img{
  filter: brightness(0) invert(1);
}
/*Footer*/
footer{
  position: fixed;
  bottom: 5px;
  display: flex;
  justify-content: center;
  background-color: var(--color-button);
  width: 280px;
  border-radius: 50px;
  
}
.second-first{
  display: flex;
  width: 200px;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}
.second-first img{
  width: 18px;
  filter: brightness(0) invert(1);
}
@media screen and (max-width: 800px) {
  header ul {
    display: none;
  } 
  .cont-input-filter{
    right: 15px;
  }
}
@media screen and (max-width: 676px) {
  .cont-card{
  display: grid;
         grid-template-columns: repeat(4, 1fr);
         gap: 12px;
}
.filter-btn{
  padding: 5px  20px 5px;
}
}
@media screen and (max-width: 580px) {
  header{
    flex-direction: column;
  }
  .cont-input-filter{
    top: 0;
    left: 15px;
  }
  .nav-choix{
    width: 90%;
    overflow-y: auto;
    white-space: nowrap;
  }
  .myinput{
    width: 295px;
  }
  .cont-card{
  display: grid;
         grid-template-columns: repeat(3, 1fr);
         gap: 12px;
  }
}
@media screen and (max-width: 400px){
  .cont-card{
  display: grid;
         grid-template-columns: repeat(2, 1fr);
         gap: 10px;
  }.card{
  width: 150px;
  height: 190px;
}
}