:root {
  --color-background: #dfdddd; /* Gris clair pour les séparateurs et arrière-plans */
  --color-button: #C50000; /* Rouge vif utilisé pour les boutons et en-têtes */
  --color-white: #FFFFFF; /* Blanc pour l'arrière-plan */
  --color-Text: #343232; /* Noir pour le texte et les icônes */
}
body{
  background-color: var(--color-background);
  margin: 0;
  font-family: sans-serif;
}
a{
  text-decoration: none;
}
header{
  display: flex;
  justify-content: space-between;
  border-bottom: none;
}
/*modal*/
.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0; left: 0;
  width: 105vw; height: 105vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

/* Contenu de la modale */
.modal-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 75%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

/* Bouton de fermeture */
.modal-close {
  position: absolute;
  top: 10px; right: 15px;
  font-size: 18px;
  cursor: pointer;
}

/* Bouton d'ouverture */
.open-modal-btn {
  margin: 50px;
  padding: 10px 20px;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/*Fin modal*/
.cont-logo-img{
 display: flex;
 margin-left: 10px;
}
.img-logo{
  position: relative;
  top: 19px;
  width: 50px;
  height: 40px;
}
.myLogo{
  color: var(--color-Text);
}
.secondLogo{
  color: var(--color-button);
}
.cont-input-filter{
  position: relative;
  top: 18px;
  display: flex;
}
.myinput{
  background-color: var(--color-white);
  width:300px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid;
  border: none;
  padding-left: 30px;
  padding-right: 10px;
}
.cont-filter{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 40px;
  background-color: var(--color-button);
  border-radius: 20px;
  margin-left: 10px;
}
.cont-filter img{
  width: 22px;
  height: 22px;
  filter: brightness(0) invert(1);
}
header ul {
  position: relative;
  top: 10px;
  right: 20px;
  display: flex;
  list-style: none;
}
header ul li{
  color: #343232;
  margin-left: 10px;
}
header ul li:hover{
  color: var(--color-button);
}
.cont-indicator{
  position: absolute;
  bottom: 43px;
  right: 65px;
  font-size: 0.7rem;
  width: 15px;
  height: 15px;
  background-color: #C50000;
  color: #FFFFFF;
  border-radius: 50%;
  text-align: center;
}
.cont-indicator-foot{
  position: absolute;
  bottom: 34px;
  right: 90px;
  font-size: 0.7rem;
  width: 15px;
  height: 15px;
  background-color:  #FFFFFF;
  color: #C50000;
  border-radius: 50%;
  text-align: center;
}
/*Panier*/
.Cont-Panier{
  margin-top: 5px;
}
.Card-panier{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  width: 300px;
  height: 70px;
  border-radius: 10px;
}
.img-panier{
  position: relative;
  left: 10px;
  width: 50px;
  height: 50px;
}
.cont-nom-panier{
  display: flex;
  flex-direction: column;
}
.span-nom-panier{
  color: var(--color-Text);
  font-size: 0.8rem;
  flex: 1;
  white-space: nowrap;       /* Pas de retour à la ligne */
  overflow: hidden;          /* Cache le contenu qui dépasse */
  text-overflow: ellipsis;
}
.span-prix-panier{
  color: var(--color-Text);
  font-size: 0.8rem;
}
.quantity-panier{
  background-color: var(--color-background);
  width: 40px;
  height: 20px;
  border-radius: 5px;
  border: none;
}
.Cont-Total{
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 65px;
}
.Cont-span-Toal{
  display: flex;
  margin-left: 10px;
}
.Btn-Valider{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(72, 219, 72);
  color: #FFFFFF;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 10px;
  margin: 10px 10px;
  padding: 5px;
}

.btn-delete-panier{
  position: relative;
  right: 10px;
  width: 20px;
  cursor: pointer;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}
@keyframes l20-1{
   0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{ 
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}
/*Fin Panier*/
/*Nav choix*/
.nav-choix{
  position: relative;
  top: 20px;
  display: flex;
  margin-bottom: 5px;
}
.filter-btn{
  background-color: var(--color-white);
  color: var(--color-Text);
  padding: 10px  40px 10px;
  border-radius: 15px;
  margin-left: 5px;
  text-align: center;
  cursor: pointer;
}
.filter-btn:hover{
  background-color: var(--color-button);
  color: #FFFFFF;
}
/*Main*/
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Popular{
color: var(--color-Text);

}
.cont-categ-card{
   
}
.cont-card{
  display: grid;
         grid-template-columns: repeat(5, 1fr);
         gap: 15px;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  width: 120px;
  height: 170px;
  border-radius: 10px;
  cursor: pointer;
}
.card:hover{
  background-color: #cabcbc;
}
.cont-img-fav{
  position: relative;
  left: 80px;
  cursor: pointer;
}
.cont-img-fav img{
  width: 20px;
  filter: invert(10%) sepia(100%) saturate(6721%) hue-rotate(16deg) brightness(81%) contrast(119%);
}
.imgCard{
  width: 70px;
  height: 70px;
}
.cont-titre-categ{
  /*position: relative;
  right: 40px;*/
  display: flex;
  flex-direction: column;
}
.stars{
 width: 50px;
}
.cont-prix-btn{
  display: flex;
  margin-top: 20px;
}

.span-titre{
  font-size: 0.7rem;
}
.span-prix{
  /*position: relative;
  right: 35px;*/
  font-size: 0.8rem;
}
.btn-add{
  width: 20px;
  background-color: var(--color-button);
  border-radius: 3px;
  cursor: pointer;
}
.btn-add img{
  filter: brightness(0) invert(1);
}
/*Chekout*/
form {
  background-color: white;
  padding: 20px;
  max-width: 500px;
  margin: auto;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-top: 15px;
}

input{
  max-width: 480px;
  width: auto;
  padding: 9px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.Cont-panier-Form{
  border: 1px solid #ccc;
}
button {
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
.success-animation { margin:150px auto;}

.checkmark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position:relative;
    top: 5px;
    right: 5px;
   margin: 0 auto;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
 
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
.span-checkmark{
  position: relative;
  bottom: 100px;
}
@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}
/*Chekout*/
/*Footer*/
footer{
  position: fixed;
  bottom: 5px;
  display: flex;
  justify-content: center;
  background-color: var(--color-button);
  width: 280px;
  border-radius: 50px;
  
}
.second-first{
  display: flex;
  width: 200px;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}
.second-first img{
  width: 18px;
  filter: brightness(0) invert(1);
}
@media screen and (max-width: 800px) {
  header ul {
    display: none;
  } 
  .cont-input-filter{
    right: 15px;
  }
}
@media screen and (max-width: 676px) {
  .cont-card{
  display: grid;
         grid-template-columns: repeat(4, 1fr);
         gap: 12px;
}
.filter-btn{
  padding: 5px  20px 5px;
}
}
@media screen and (max-width: 580px) {
  header{
    flex-direction: column;
  }
  .cont-input-filter{
    top: 0;
    left: 15px;
  }
  .nav-choix{
    width: 90%;
    overflow-y: auto;
    white-space: nowrap;
  }
  .myinput{
    width: 295px;
  }
  .cont-card{
  display: grid;
         grid-template-columns: repeat(3, 1fr);
         gap: 12px;
  }
}
@media screen and (max-width: 400px){
  .cont-card{
  display: grid;
         grid-template-columns: repeat(2, 1fr);
         gap: 10px;
  }.card{
  width: 150px;
  height: 190px;
}
}